.password-page {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed; /* Keeps the background fixed in place */
}
