/* ErrorStyles.css */
.error-page, .not-found-page {
  background-image: url('../assets/images/logback.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.error-page h1, .not-found-page h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.error-page p, .not-found-page p {
  font-size: 1.5rem;
}
