.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(to right, #6881C1, #6881C1, #B3A069);
  height: 80px;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

body {
 
  box-sizing: border-box;
}

.logo {
  height: 80px;
}

.search-box {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 9px;
  overflow: hidden;
  height: 40px;
}

.search-icon {
  height: 20px;
  margin: 0 10px;
}

.search-input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: none;
  outline: none;
}

.header-right {
  position: relative;
  display: flex;
  align-items: center;
}

.header-right .icon {
  height: 40px;
  margin-left: 20px;
  cursor: pointer;
}

.header-right .menu-icon {
  display: none;
}

.login-box {
  position: absolute;
  top: 70px;
  right: 0;
  background: linear-gradient(to right, #6881C1, #8b9dc3);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  z-index: 1001;
}

.login-button,
.signup-button {
  background: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 5px 0;
  cursor: pointer;
  font-size: 16px;
  color: #3b5998;
  width: 150px;
}

.login-button:hover,
.signup-button:hover {
  background: #f5f5f5;
}

@media (max-width: 768px) {
  .search-input {
    display: none;
  }

  .search-box {
    background-color: #6881C1;
    border: 1px solid #6881C1;
  }

  .header-right .language-text,
  .header-right .down-arrow {
    display: none;
  }

  .header-right .normal-icon {
    display: block;
  }

  .header-right .menu-icon {
    display: block;
  }
}

@media (max-width: 480px) {
  .logo {
    height: 60px;
  }

  .header-right .icon {
    height: 30px;
    margin-left: 10px;
  }
}
