
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
}

.dashboard {
    display: flex;
    flex-direction: column;
  }
  
  .header2 {
    width: 98%;
  }
  
  .dashboard-content {
    display: flex;
    /* Removed the margin-top property */
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
    background-color: #F5F6FA;
  }

  .main-content h2 {
    margin-left: 10px;
  }
  
  .info-boxes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  