.deals-list {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.deals-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.deals-list h2 {
  margin-top: -5px;
  margin-bottom: 0;
}

.month-selector select {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.deals-list table {
  width: 100%;
  border-collapse: collapse;
}

.deals-list th,
.deals-list td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.deals-list th {
  background-color: #f4f4f4;
}

.status {
  padding: 5px 10px;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
}

.status.delivered {
  background-color: #00B69B;
}

.status.pending {
  background-color: #F93C65;
}
