.filter-button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    margin: 20px 0 20px 10px; /* Shifted to the left */
    width: fit-content;
    cursor: pointer;
  }
  
  .filter-icon {
    height: 20px;
    margin-right: 5px;
  }
  